<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update USER</title>
</head>
<body>
    <h1><center>UPDATE USER</center></h1>
    <hr>
    <a class="btn btn-primary mb-4" href="/user/index" role="button">BACK</a>

    <form action="/user/edit/<%= data.id %>" method="post">
        <span>Username</span>
        <input type="text" name="username" id="username" value="<%= data.username %>">
        
        <br>
        
        <span>Password</span>
        <input type="text" name="password" id="password" value="<%= data.password %>">
        
        <br>
        
        <input type="submit" value="simpan">
    </form>
</body>
</html>