<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.bundle.js"></script>

    <title>PROFILE USER GAME</title>
</head>
<body>
    <h1><center>DATA PLAYER</center></h1>
    <hr>
    <br>
    <!-- <button type="button" class="btn btn-primary mb-4"><a href="/sales/new"></a>ADD</button> -->
    <a class="btn btn-primary mb-4" href="/user/new" role="button">ADD</a>
    <br>
        <table class="table">
            <thead class="thead-dark" style="background-color: black;color:white;">
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Username</th>
                <th scope="col">Password</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>

            <% if (data) { %>
                <% data.forEach(function (d) { %>
                    <tr>
                        <td scope="row"><%= number++ %></td>
                        <td scope="row"><%= d.username %></td>
                        <td><%= d.password %></td>
                        <td><a class="btn btn-info" href="/user/detail/<%= d.id %>" role="button">Detail</a> 
                            <a class="btn btn-warning" href="/user/edit/<%= d.id %>" role="button">Update</a>  
                            <a class="btn btn-danger" href="/user/delete/<%= d.id %>" role="button">Delete</a>                        
                        </td>
                    </tr>
                <% }) %>
            <% } else { %>
                <tr>
                    <td colspan="5">Tidak ada data</td>
                </tr>
            <% } %>
          
            </tbody>
          </table>
          
         
</body>
</html>