<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USER NEW</title>
</head>
<body>
    <h1><center>USER NEW</center></h1>
    <hr>
    <% if(status === 500) { %>
        <h1>Input Salah</h1>
    <% } %>
    <form action="/register/admin" method="post">
        <span>Username</span>
        <input type="text" name="username" id="username">
        
        <br>
        
        <span>Password</span>
        <input type="text" name="password" id="password">
        
            <br>

        <input type="submit" value="tambah">
    </form>

</body>
</html>